* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight:bold;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    line-height: 1.65;
}

.main{
    padding-top:5rem;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content{
    width: 100%;
    height:33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.main-content_box{
    height: 100%;
    width:33%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#0097b2;
}

.procedure-img{
    width: 75%;
    height: 240px;
    border-radius: 50px;
    transition: 0.5s;
}

.procedure-img:hover{
    border-radius: 20px;
}



