* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight:bold;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    line-height: 1.65;
}

.header{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 4.1rem;
    background: linear-gradient(0.25turn, #00a1be, #8dd392);
    display: flex;
    justify-content: space-between;
}

.header-menu{
    width: 32%;
    height: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo{
    width: 15%;
    height: 100%;
    display: flex;
    padding: 3px;
    margin-left: 10px;
}

.header-nav{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-menu_theme{
    display: flex;
    width:7%;
}

.theme-icon{
    width: 2.3rem;
}

.main{
    width: 100%;
    height: 2000px;
}

.text-header{
    font-size: 35px;
    color:#0097b2;
    font-weight: 600;
}

.footer{    
    top: 50rem;
    width: 100%;
    height: 13rem;
    background: linear-gradient(0.25turn, #00a1be, #8dd392);
    display: flex;
    justify-content: space-between;
    position: relative; 
    padding-left:5%;
}

.footer-logo{
    width:23%;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 18px;
}

.logo-icon{
    width:15%;
    padding-top: 10px;
}

text{
    margin-top:10px;
    letter-spacing:0.045cap;
}

.footer-contacts, .footer-other{
    width:30%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-weight: 100;
}

.footer-contacts_container, .footer-other_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.icon{
    width:5%;
}  
